<link href="~/Content/importantNews.css" rel="stylesheet" />
<script src="~/Scripts/importantNews.js"></script>
<script>
    $(function () {
        $(".home").removeClass("active");
        $(".importantNew").addClass("active");
    });
</script>

<div class="container">
    <div class="row">
        <div class="col-9">
            <div id="main">
                <article>
                    <ul class="grow ul" style="height:866px;">
                    </ul>
                </article>
            </div>
        </div>
        <div class="col-3 ranking">
            <div class="card">
                <div class="card-header">要闻</div>
                <div class="card-body">
                    <p class="card-text"><span class="layui-badge">1</span>bjksehrfe</p>
                    <p class="card-text"><span class="layui-badge">2</span>bjksehrfe</p>
                    <p class="card-text"><span class="layui-badge">3</span>bjksehrfe</p>
                    <p class="card-text"><span class="layui-badge layui-bg-gray">4</span>bjksehrfe</p>
                    <p class="card-text"><span class="layui-badge layui-bg-gray">5</span>bjksehrfe</p>
                    <p class="card-text"><span class="layui-badge layui-bg-gray">6</span>bjksehrfe</p>
                </div>
            </div>
            <div class="card">
                <div class="card-header">新进展</div>
                <div class="card-body">
                    <p class="card-text"><span class="layui-badge">1</span>bjksehrfe</p>
                    <p class="card-text"><span class="layui-badge">2</span>bjksehrfe</p>
                    <p class="card-text"><span class="layui-badge">3</span>bjksehrfe</p>
                    <p class="card-text"><span class="layui-badge layui-bg-gray">4</span>bjksehrfe</p>
                    <p class="card-text"><span class="layui-badge layui-bg-gray">5</span>bjksehrfe</p>
                    <p class="card-text"><span class="layui-badge layui-bg-gray">6</span>bjksehrfe</p>
                </div>
            </div>
            <div class="card">
                <div class="card-header">周热度</div>
                <div class="card-body">
                    <p class="card-text"><span class="layui-badge">1</span>bjksehrfe</p>
                    <p class="card-text"><span class="layui-badge">2</span>bjksehrfe</p>
                    <p class="card-text"><span class="layui-badge">3</span>bjksehrfe</p>
                    <p class="card-text"><span class="layui-badge layui-bg-gray">4</span>bjksehrfe</p>
                    <p class="card-text"><span class="layui-badge layui-bg-gray">5</span>bjksehrfe</p>
                    <p class="card-text"><span class="layui-badge layui-bg-gray">6</span>bjksehrfe</p>
                </div>
            </div>
            <div class="card">
                <div class="card-header">高热度问题</div>
                <div class="card-body">
                    <p class="card-text"><span class="layui-badge">1</span>bjksehrfe</p>
                    <p class="card-text"><span class="layui-badge">2</span>bjksehrfe</p>
                    <p class="card-text"><span class="layui-badge">3</span>bjksehrfe</p>
                    <p class="card-text"><span class="layui-badge layui-bg-gray">4</span>bjksehrfe</p>
                    <p class="card-text"><span class="layui-badge layui-bg-gray">5</span>bjksehrfe</p>
                    <p class="card-text"><span class="layui-badge layui-bg-gray">6</span>bjksehrfe</p>
                </div>
            </div>
        </div>
    </div>
</div>

